header{
height: 139px;
background: #F5F5F5;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#logo{
    margin-bottom: 24px;
    
}

@media (min-width: 1374px) {

header{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#logo{
    margin-left: 110px;
    margin-bottom: 0;
}
}
